@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@700&display=swap');

:root {
	--clr-accent-200:#8A0000;
	--clr-accent-600:#025601;

	--clr-primary-100:#fff;
    --clr-secondary-400:#808080;
    --clr-accent-300:#161DD0;
	--clr-accent-500:#063C51;
    
	--ff-primary:'Roboto', sans-serif;
    --ff-accent:'Nunito', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    height: 100vh;
}


body {
	line-height: 1;
	text-align: center;
	color: var(--clr-primary-100);
	background-color: var(--clr-secondary-400);
	font-family: var(--ff-accent);
}

.header{
	padding-top: 0.75em;

}
#headerContainer {
	margin: auto;
	width: 75%;
	padding: 0.5em;
	font-size: 3em;
	border-radius: 4em;
	font-family: var(--ff-primary);
	background-color: var(--clr-accent-300);
}

/* Button used to open the New Item form -  */
.addItem {
	color: var(--clr-primary-100);
	background-color: var(--clr-accent-500);
	padding: 1em 2em;
	margin: 1em;
	border: none;
	cursor: pointer;
	width: 10em;
	font-size: 1em;
}
  
.form-container{
	font-size: 1.5em;
}

  /* The popup form - hidden by default */
.form-popup {
	display:;
	z-index: 9;
	height: 100vh;
}

  /* The popup form - Responsive Center */
@media only screen and (min-width:750px){
	.form-popup {
		display:flex;
		justify-content: center;
		z-index: 9;
		height: 100vh;
		width: 100%;
	}
	.form-container {
		padding: 1em;
		height: 100%;
		width: 40%;
		background-color: var(--clr-primary-100);
	}
}
  
.form-container > *{
	color: var(--clr-accent-300);
}

.form-container > p{
	margin-top: 0.5em;
}

/* Add styles to the form container */
.form-container {
	max-width: 100%;
	padding: 1em;
	height: 70%;
	background-color: var(--clr-primary-100);
}
  
  /* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
	width: 90%;
	padding: 15px;
	margin: 5px 0 22px 0;
	font-size: 0.9em;
	border: none;
	background: #f1f1f1;
  }
  
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}
  
/* Set a style for the submit button */
.form-container .btn {
	background-color: var(--clr-accent-500);
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 0.9em;
	margin-bottom:10px;
	opacity: 0.8;
}
  
  /* Add a red background color to the cancel button */
.form-container .cancel {
	background-color: var(--clr-accent-200);
}
  
/* Add some hover effects to buttons */
.form-container .btn:hover, .addItem:hover {
	opacity: 1;
}

.removeItem {
	border: none;
	width: 90%;
	border-radius: 1em;
	margin-bottom: 0.3em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
	color: var(--clr-primary-100);
	background-color: var(--clr-accent-500);
}

.section-body{
	display: grid;
	width: 100%;
	gap:1em;
	padding-bottom: 2em;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.cardContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 2em;
	width: 10em;
	height: 14em;
	border-radius: 1em;
	background-color: var(--clr-accent-300);
}

.card{
	display:grid;
	height: 100%;
	width: 100%;
	border-radius: 1em;
}

.card >*{
	align-self: center;
	justify-self: center;
}

.switch-toggle{
	display: flex;
	align-self: center;
	justify-content: space-evenly;
	height: 2.3em;
}

p {
	padding-bottom: 0.4em;
}

.switch {
	position: relative;
	display: inline-block;
	width: 3em;
	height: 1.5em;
  }
  
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
  
.slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
  
.slider:before {
	position: absolute;
	content: "";
	height: 1.5em;
	width: 1.5em;
	inset: 0;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
  
input:checked + .slider {
	background-color: #009578;
}
  
input:focus + .slider {
	box-shadow: 0 0 1px #009578;
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(1.5em);
	-ms-transform: translateX(1.5em);
	transform: translateX(1.5em);
}
  
/* Rounded sliders */
.slider.round {
	border-radius: 1.5em;
}
  
.slider.round:before {
	border-radius: 50%;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color:var(--clr-accent-300);
}