@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@700&display=swap');

:root {
	--clr-accent-200:#650000;
	--clr-accent-600:#025601;

	--clr-primary-100:#fff;
    --clr-secondary-400:#808080;
    --clr-accent-300:#161DD0;
	--clr-accent-500:#0D88BC;
    
	--ff-primary:'Roboto', sans-serif;
    --ff-accent:'Nunito', sans-serif;
}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    height: 100vh;
}


body {
	line-height: 1;
	text-align: center;
	color: var(--clr-primary-100);
	background-color: var(--clr-secondary-400);
	font-family: var(--ff-accent);
}

.header{
	padding-top: 0.75em;
}
#headerContainer {
	margin: auto;
	width: 75%;
	padding: 0.5em;
	font-size: 3em;
	border-radius: 4em;
	font-family: var(--ff-primary);
	background-color: var(--clr-accent-300);
}


.button {
	border: none;
	padding: 1em 2em;
	margin: 1em;
	width: 10em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
	color: var(--clr-primary-100);
	background-color: var(--clr-accent-500);
}


.section-body{
	display: grid;
	width: 100%;
	gap:1em;
	padding-bottom: 2em;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.cardContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 2em;
	width: 10em;
	height: 14em;
	border-radius: 1em;
	background-color: var(--clr-accent-300);
}

.card{
	display:grid;
	height: 100%;
	width: 100%;
	border-radius: 1em;
}

.card >*{

	align-self: center;
	justify-self: center;
}

.switch {
	position: relative;
	display: inline-block;
	width: 3em;
	height: 1.5em;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 1.5em;
	width: 1.5em;
	inset: 0;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #009578;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #009578;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(1.5em);
	-ms-transform: translateX(1.5em);
	transform: translateX(1.5em);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 1.5em;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }


footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color:var(--clr-accent-300);
}

